section{
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}
#profile{
    display: flex;
    height: 80vh;
    gap: 10rem;
    justify-content: center;
}
#profile::after,#profile::before{
    content: " ";
    width: 28rem;
    height: 28rem;
    border-radius: 28rem;
    background: #7c66e3;
    position: absolute;
    z-index: -1;
    filter: blur(225px);

}
.sectionPicContainer{
 display: flex;
 width: 300px;
 height: 300px;
 margin: auto 0;
}
.sectionText {
    align-self: center;
    text-align: center;
}

.sectionText p {
    font-weight: 600;
}

.sectionTextP1 {
    text-align: center;
    color: rgb(200,200,200);
}

.sectionTextP2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
     color: rgb(200,200,200);
}

.title {
    font-size: 3rem;
    text-align: center;
}
#socialsContainer {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}
/* ICONS */

.icon {
    cursor: pointer;
    height: 2rem;
    background: #2a2252;
    border-radius: 0.65rem;
    border: 1.5px solid #6751b9;
}

/* BUTTONS */

.btnContainer {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.btnColor1,
.btnColor2 {
    color: white;
    background: rgb(22, 17, 47,0.398);
    border: 1px solid #6751b9;
}

.btnColor1:hover,
.btnColor2:hover {
    cursor: pointer;
    background: linear-gradient(180deg,#aa94fe 0%,#7c5fe6 100%);
}

.btnContainer {
    gap: 1rem;
}


/*media query*/

@media screen and (max-width: 1400px) {
    #profile {
        height: 83vh;
        margin-bottom: 6rem;
    }

    .aboutContainers {
        flex-wrap: wrap;
    }

}

@media screen and (max-width: 1200px) {

    #profile,
    .sectionContainer {
        display: block;
    }

    .arrow {
        display: none;
    }

    section,
    .sectionContainer {
        height: fit-content;
    }

    section {
        margin: 0 5%;
    }

    .sectionPicContainer {
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }

    .aboutContainers {
        margin-top: 0;
    }
}

@media screen and (max-width: 600px) {

    #profile {
        height: 83vh;
        margin-bottom: 0;
    }

    .btnContainer {
        flex-wrap: wrap;
    }

    .sectionPicContainer {
        width: auto;
        height: 46vw;
        justify-content: center;
    }

    .sectionTextP2 {
        font-size: 1.25rem;
    }

    .title {
        font-size: 2rem;
    }

}