/* DESKTOP NAV */
#desktopNav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: sticky;
  top: 0;
  z-index: 99;
  backdrop-filter: blur(50px);
}
nav,
.navLinks {
  display: flex;
}
nav {
  align-items: center;
  justify-content: space-between;
  height: 16vh;
}
.navLinks {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: white;
  text-decoration-color: rgb(227, 185, 72);
}
a:hover {
  text-decoration: underline;
  color:rgb(227, 185, 72);
  text-underline-offset: 1rem;
  text-decoration-color: rgb(227, 185, 72);
}
.logo {
  font-size: 2rem;
}
.logo:hover {
  cursor: default;
}

/*media query*/
@media (max-width: 700px) {
  #desktopNav {
    display: none;
  }
  #hamburgerNav {
    display: flex;
  }
  .logo {
  font-size: 1.5rem;
}
}
