section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}
#experiance {
    position: relative;
}

.experienceSubTitle {
    color: rgb(222, 222, 222);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.experienceDetailsContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.articleContainer {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}

article {
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;
}

article .icon {
    cursor: default;
}
.aboutContainers {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    
}
.detailsContainer {
    padding: 1.5rem;
    flex: 1;
    background: rgb(22, 17, 47,0.398);
    border-radius: 2rem;
    border: 1.5px solid #6751b9;
    backdrop-filter: blur(1rem);
    text-align: center;
}
.detailsContainer:hover{
    background: linear-gradient(180deg,#aa94fe 0%,#7c5fe6 100%);
}
.aboutContainers,
.aboutDetailsContainer {
    display: flex;
}
.sectionTextP1 {
    text-align: center;
}
.title {
    font-size: 3rem;
    text-align: center;
}
.arrow {
    cursor: pointer;
    width: 2.4rem;
    height: auto;
    object-fit: contain;
    align-items: center;
    background:  #2a2252;
    border-radius: 0.65rem;
    border: 1.5px solid #6751b9;
    position: absolute;
    right: -5rem;
    bottom: 3rem;
}
/* ICONS */

.icon {
    cursor: pointer;
    height: 2rem;
}

/*media query*/

@media screen and (max-width: 1400px) {
    .aboutContainers {
        flex-wrap: wrap;
    }

}

@media screen and (max-width: 1200px) {

    #experience,
    .experienceDetailsContainer {
        margin-top: 2rem;
    }
    .sectionContainer {
        display: block;
    }

    .arrow {
        display: none;
    }

    section,
    .sectionContainer {
        height: fit-content;
    }

    section {
        margin: 0 5%;
    }

    .aboutContainers {
        margin-top: 0;
    }
}

@media screen and (max-width: 600px) {

    article {
        font-size: 1rem;
    }
    .aboutContainers {
        flex-wrap: wrap;
    }

    .experienceSubTitle {
        font-size: 1.25rem;
    }

    .sectionTextP2 {
        font-size: 1.25rem;
    }

    .title {
        font-size: 2rem;
    }

    .textContainer {
        text-align: justify;
    }
}