/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: #fff;
  background-color: #060417;
}

html {
  scroll-behavior: smooth;
}

p {
  color: white;
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}